.about {

  &, .section__title {
    text-align: center;
  }

  &__content {
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background: var(--card);
    padding: 1.3rem;
    max-width: 25rem;
    box-shadow: var(--shadow2);
    color: var(--text);
  }
}