/* For small devices */
@media screen and (max-width: 380px){
  p {
    font-size: .9rem;
  }

  .services {
    &__content {
      background: var(--bg2);
    }

    &__data {
      margin-left: auto;
      background: var(--background1);
      padding: 1.4rem;
      box-shadow: var(--shadow2);
    }
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .download {
    &__content {
      flex-direction: row;
      gap: 5rem;

      & .btn {
        font-size: 1.2rem;
      }
    }

    &__data {
      gap: 2rem;
    }

    &__img {
      width: 50%;
    }
  }
}

@media screen and (max-width: 768px){


}

@media screen and (min-width: 768px){
  .home {
    width: 90%;
    gap: 3rem;
    margin-left: auto;
    margin-right: auto;
    
    &__img {
      display: block;
      width: 50%;
      max-height: 70vh;
    }
  }
  
  .hero {
    max-width: 50%;
  }

  .features {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .services {
    &__content {
      background: var(--bg2);
    }

    &__img {
      width: 50%;
    }

    &__data {
      display: flex;
      margin-left: auto;
      background: var(--background1);
      padding: 3rem 1.4rem 2rem;
      box-shadow: var(--shadow2);
    }
  }

  .footer{
    &__container{
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      column-gap: 1rem;
    }
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .home {
    gap: 5rem;
  }
  
  .contact {
    &__data {
      grid-template-columns: repeat(3, 1fr);
      padding: 4rem 2rem 2rem;
      max-width: 90%;

      &::after {
        content: '';
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        background: var(--secondary);
        width: 10%;
        height: .3rem;
      }

      & form {
        grid-column: span 2 / span 2;	
      }
    }
  }
}

@media screen and (min-width: 1200px){
  .container, .home {
      max-width: 1024px;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px){
  body{
      margin: 0;
  }
  .home{
      &__container,
      &__img{
          height: 640px;
      }
  }
}

@media screen and (min-width: 992px){
  .container, .home {
      margin-left: auto;
      margin-right: auto;
  }

  .home__img {
    max-height: 90vh;
  }
}