/* For small devices */
@media screen and (max-width: 380px){
  p {
    font-size: .9rem;
  }

  .services {
    &__content {
      background: var(--bg2);
    }

    &__data {
      margin-left: auto;
      background: var(--background1);
      padding: 1.4rem;
      box-shadow: var(--shadow2);
    }
  }
}

/* For medium devices */
@media screen and (max-width: 768px){


}

@media screen and (min-width: 768px){
  .home {
    width: 90%;
    gap: 3rem;
    margin-left: auto;
    margin-right: auto;
    
    &__img {
      display: block;
      width: 50%;
      max-height: 70vh;
    }
  }
  
  .hero {
    max-width: 50%;
  }

  .about {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .services {

  }

}

/* For large devices */
@media screen and (min-width: 1024px){
  .home {
    gap: 5rem;
  }
}

@media screen and (min-width: 1200px){
  .container, .home {
      max-width: 1024px;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px){
  body{
      margin: 0;
  }
  .home{
      &__container,
      &__img{
          height: 640px;
      }
  }
}

@media screen and (min-width: 992px){
  .container, .home {
      margin-left: auto;
      margin-right: auto;
  }

  .home__img {
    max-height: 90vh;
  }
}