.btn {
  &-1 {
    padding: .7rem 1.5rem;
    color: var(--text-btn);
    background-color: var(--primary);

    &:hover {
      background-color: var(--primary-light);
    }
  }

  &-2 {
    padding: .7rem 1.5rem;
    color: var(--text-btn);
    background-color: var(--secondary);

    &:hover {
      background-color: var(--secondary-light);
    }
  }
  
}
