.btn1 {
  padding: .7rem 1.5rem;
  background-color: var(--primary);
  color: var(--text-btn);

  &:hover {
    background-color: var(--primary-light);
  }
}

.btn2 {
  padding: .7rem 1.5rem;
  background-color: var(--secondary);
  color: var(--text-btn);

  &:hover {
    background-color: var(--secondary-light);
  }
}

