.btn {
  padding: .7rem 1.5rem;
  color: var(--text-btn);

  &-flex{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    padding: .75rem 1rem;
  }
}

.orange {
  background-color: var(--secondary-alt);
  &:hover {
    background-color: var(--secondary-light);
  }
}

.pink {
  background-color: var(--secondary);

  &:hover {
    background-color: var(--secondary-light);
  }
}

.violet {
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-light);
  }
}