.contact {
  position: relative;
  display: flex;
  background: var(--background1);

  &__gradient {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
  }

  &__data {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    gap: 1rem;
    z-index: 10;
    width: 90%;
    max-width: 40rem;
    padding: 2rem;
    background: var(--background1);
    box-shadow: var(--shadow2);

    &::before {
      content: '';
      position: absolute;
      top: 1.8rem;
      right: 2rem;
      background: var(--secondary-alt);
      width: 10%;
      height: .3rem;
    }

  }

  &__text h1 {
    margin-bottom: 1rem;
  }
}

#cencont, #cjpcont {
  height: 6rem;
}