.g {
  &-1 {
    background: linear-gradient(270deg, var(--primary), var(--primary-alt));
    background-size: 400% 400%;

    -webkit-animation: slow 20s ease infinite;
    -moz-animation: slow 20s ease infinite;
    animation: slow 20s ease infinite;
  }

  &-2 {
    background: linear-gradient(270deg, var(--secondary-alt), var(--secondary));
    background-size: 400% 400%;

    -webkit-animation: slow 20s ease infinite;
    -moz-animation: slow 20s ease infinite;
    animation: slow 20s ease infinite;
  }
}
